<div class="title">{{titleize name}}</div>

{{#if stats}}
    <div class="metadata">{{stat-total stats}} | {{timeago lastSnapshotDate}}</div>
{{/if}}

<div class="filters">
    <button {{bind-attr class=":filter filterIsToday:is-selected"}} {{action "filter" "today"}}>Today</button>
    <button {{bind-attr class=":filter filterIsYesterday:is-selected"}} {{action "filter" "yesterday"}}>Yesterday</button>
    <button {{bind-attr class=":filter filterIsWeek:is-selected"}} {{action "filter" "week"}}>A Week Ago</button>
    <button {{bind-attr class=":filter filterIsMonth:is-selected"}} {{action "filter" "month"}}>A Month Ago</button>
    {{! testing... }}
    {{#link-to 'stat.month' class="filter"}}MONTH{{/link-to}}
    {{! testing... }}
</div> {{! .filters }}

<div {{bind-attr class=":data stats:data-available"}}>
    {{view App.StatGraphView contentBinding="stats"}}
    <p class="no-data">No Data Available</p>
</div> {{! .data }}
