<div class="content">
    <div class="left">
        {{debug}}
        <div class="title">{{name}} (<span class="value">{{stat-total filteredSnapshots}}</span>)</div>
        <div class="last-update">{{#withLast filteredSnapshots}}{{timeago date}}{{/withLast}}</div>
    </div>
</div>

{{view App.StatGraphView titleBinding="name" contentBinding="filteredSnapshots"}}
