<div class="content">
    <div class="left">
        <div class="title">{{name}} (<span class="value">{{stat-total filteredSnapshots}}</span>)</div>
        <div class="last-update">{{timeago lastSnapshotDate}}</div>
    </div>
    <div class="right">
        <button {{bind-attr class=":filter filterIsToday:is-selected"}} {{action "filter" "today"}}>Today</button>
        <button {{bind-attr class=":filter filterIsYesterday:is-selected"}} {{action "filter" "yesterday"}}>Yesterday</button>
        <button {{bind-attr class=":filter filterIsWeek:is-selected"}} {{action "filter" "week"}}>A Week Ago</button>
        <button {{bind-attr class=":filter filterIsMonth:is-selected"}} {{action "filter" "month"}}>A Month Ago</button>
    </div>
</div>

{{view App.StatGraphView titleBinding="name" contentBinding="filteredSnapshots"}}
